body{
    background-color: rgb(255,255,240);
    margin-left:20%;
}
textarea{
    scrollbar-3dlight-color:  #C0C0C0;
    scrollbar-shadow-color: silver;
    scrollbar-arrow-color: black;
    scrollbar-face-color: gray;
}
.imgHelp{
    cursor: help;
}
.EmailEditor{
    background-color:#FFFFDD ; 
}
#main{
    width: 400px;
    background-color: #DDFFEE;
    margin-left: 10px;
    margin-right: 10px;
}
#help{
    position: relative;
    width: 500px;
    height: 420px;
    margin-top: 10px;
    background-color: #cfc;
    margin-left: 10px;
    margin-right: 10px;
    visibility: hidden;
    border: #E4E7E7;
    border-width: 2px;
    border-style: solid;
    text-decoration: #303030;
}
.Close{
    text-align: right;
    text-decoration: blue;
    cursor: hand;
}
td{
    list-style: square;
    position: inside;
}