.section{
    text-align: justify;
}
.sub_section{
    text-indent: 5%;
    text-align: justify;
}

h2{
    text-align: left;
    letter-spacing: 2px;
    text-decoration-line: underline;
    text-transform: capitalize;
}
h3{
    text-align: left;
    letter-spacing: 2px;
    text-decoration-line: underline;
    text-transform: capitalize;
}